header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

footer  {
    position: fixed;
    bottom: 20;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: inline-flexbox;
    z-index: 99;
}

.logo{
    height: 3em;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url(/form-login/jakarta2.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    image-rendering: crisp-edges; /* Meningkatkan ketajaman gambar */
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.logo{
    font-size: relative;
    color:aliceblue;
    user-select: none;
}

.navigation a{
    position: relative;
    font-size: 1.1em;
    color: aliceblue;
    text-decoration: none;
    font-weight: 1000;
    margin-left: 50px;
    height: 3px;
    transition: .5s;
}

.navigation a::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: #fff;
    border-radius: 5px;
    transform-origin: right;
    transition: transform .5s;
    transform: scaleX(0);
}


.navigation .Login-popup{
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid aliceblue;
    outline: 1px solid blanchedalmond;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: aliceblue;
    font-weight: 1000;
    margin-left: 40px;
    transition: .5s;
}

.navigation .Login-popup:hover{
    background: #5549f9;
    color: blanchedalmond;
}

.navigation a:hover::after{
    transform-origin: left;
    transform: scaleX(1);
}

.wrapper{
    position: relative;
    margin-top: 40px;
    width: 400px;
    height: 440px;
    background: transparent;
    border: 2px solid rgba(255,255,255,.5);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0,0,0,.5);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; 
    transform: scale(0);
    transition: transform .5s ease, height .2s ease;
}

.wrapper.active-popup{
    transform: scale(1);
}

.wrapper.active{
    height: 520px;
}


.wrapper .form-login{
    transition: transform .18s ease;
    transform: translateX(0);
}

.wrapper.active .form-login{
    transition: none;
    transform: translateX(-400px);
}

.wrapper .form-register{
    position: absolute;
    transition: none;
    transform: translateX(400px);
}

.wrapper.active .form-register{
    transition: transform .18s ease;
    transform: translateX(0);
}

.wrapper .form-login{
    width: 100%;
    padding: 40px;
}

.form-login h2{
    font-size: 2em;
    color: #fff ;
    text-align: center;
}

.input{
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #397F89;
    margin: 30px 0;
}

.input label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color:#FFF;
    font-weight: 500;
    pointer-events: none;
    transition: .5s;
}

.input input:focus~label,
.input input:valid~label {
    top: -5px;
}

.input input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: black;
    font-weight: 600;
    padding: 0 35px 0 5px ;
}


.input .icon{
    position: absolute;
    right: 10px;
    font-size: 1.2em;
    color:#FFF;
    line-height: 60px;
}

.remember{
    font-size: .9em;
    color: black;
    font-weight: 400;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;
}

.remember label input{
    accent-color: black;
    margin-right: 3px;
}

.remember a{
    color: #fff;
    text-decoration: none;
}

.remember a:hover{
    text-decoration: underline;
}

.btn{
    width: 100%;
    height: 45px;
    background: #397F89;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: whitesmoke;
    font-weight: 500;
}

/* .btn:hover{
    filter: blur(2px); add this line to blur the button on hover
    background: #5549f9;
    color: blanchedalmond;
} */

.login-register{
    font-size: .9em;
    color: black;
    text-align: center;
    font-weight: 500;
    margin: 25px 0 10px;
}

.login-register p a{
    color:#FFF;
    text-decoration: none;
    font-weight: 600;
}

.wrapper .icon-close{
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    background: #397F89;
    font-size: 2em;
    color:aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 15px;
    cursor: pointer;
    z-index: 1;
}